body {
  background-color: #CDF;
  margin: 0px;
  text-align: center;
  color: #000;
}

div>* {
  border-color: #ABA;
  padding: 3px;
}

footer,
header {
  padding: 10px;
  background-color: #9A9;
}

main {
  min-height: 90vh;
}

h1 {
  color: #014;
}

input {
  background-color: #EEE;
}

nav,
#choose-lang {
  background-color: #8BD;
}

#choose-lesson {
  padding: 5px;
}

.formContainer {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.formContainer>*,
input {
  margin: 3px;
}

.questionContainer {
  border-bottom: 2px solid;
}

.result {
  margin: 15px;
}

#lesson {
  display: flex;
  flex-direction: column;
}

#choose-language {
  padding: 5px;
}
