.formContainer {
  margin: 1em;
  display: flex;
}

.formContainer>* {
  margin: 3px;
}

.questionContainer {
  border-bottom: 2px solid;
}

.result {
  margin: 15px;
}

#lesson {
  display: flex;
  flex-direction: column;
}
